schemas/aliases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="Aliases">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Alias" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChannelRefs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ChannelRef" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="Id" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Locale" type="xs:string" use="optional"/>
      <xs:attribute name="DefaultLocale" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
