schemas/maths.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="Maths">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="MathConstants" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MathConstant" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:string" use="required"/>
                  <xs:attribute name="Value" type="xs:double" use="required"/>
                  <xs:attribute name="Unit" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="MathItems" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="MathExpression">
                  <xs:complexType>
                    <xs:attribute name="Id" type="xs:string" use="required"/>
                    <xs:attribute name="DisplayUnit" type="xs:string" use="optional"/>
                    <xs:attribute name="DisplayDPS" type="xs:integer" use="optional"/>
                    <xs:attribute name="DisplayColorIndex" type="xs:integer" use="optional"/>
                    <xs:attribute name="Interpolate" type="xs:boolean" use="optional"/>
                    <xs:attribute name="EnumerationName" type="xs:string" use="optional"/>
                    <xs:attribute name="Script" type="xs:string" use="optional"/>
                    <xs:attribute name="SampleRate" type="xs:nonNegativeInteger" use="optional"/>
                    <xs:attribute name="Unit" type="xs:string" use="optional"/>
                  </xs:complexType>
                </xs:element>

                <xs:element name="MathTable2D">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="XDim">
                        <xs:complexType>
                          <xs:attribute name="Count" type="xs:integer" use="optional"/>
                          <xs:attribute name="Id" type="xs:string" use="optional"/>
                          <xs:attribute name="Units" type="xs:string" use="optional"/>
                          <xs:attribute name="Data" type="xs:string" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Values">
                        <xs:complexType>
                          <xs:attribute name="Units" type="xs:string" use="optional"/>
                          <xs:attribute name="Data" type="xs:string" use="optional"/>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="Id" type="xs:string" use="required"/>
                    <xs:attribute name="DisplayUnit" type="xs:string" use="optional"/>
                    <xs:attribute name="DisplayDPS" type="xs:integer" use="optional"/>
                    <xs:attribute name="DisplayColorIndex" type="xs:integer" use="optional"/>
                    <xs:attribute name="Interpolate" type="xs:boolean" use="optional"/>
                    <xs:attribute name="Interpolation" type="xs:integer" use="optional"/>
                    <xs:attribute name="Rate" type="xs:nonNegativeInteger" use="optional"/>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Locale" type="xs:string" use="optional"/>
      <xs:attribute name="DefaultLocale" type="xs:string" use="optional"/>
      <xs:attribute name="Id" type="xs:string" use="optional"/>
      <xs:attribute name="Condition" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
